* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --blue: #3563e9;
  --white: #fff;
}
.site {
  max-width: 1400px;
  width: 100%;
  height: auto;
  margin: auto;
  border: 4px solid black;
}
.navbar {
  width: 100%;
  padding: 23px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo h1,
.footer__logo h1 {
  color: var(--blue);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.96px;
}
.navbar ul,
.footer ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar ul li a,
.footer ul li a {
  display: block;
  text-decoration: none;
  color: var(--blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbar ul li a:focus,
.footer ul li a:focus {
  border-bottom: 1px solid var(--blue);
  transition: all 1s;
}
.footer {
  width: 100%;
  padding: 23px 80px;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 30%;
}
.footer__logo p {
  color: rgba(19, 19, 19, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}
.boshsahifa {
  width: 100%;
  padding: 90px 85px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f6f8;
}
.tircard,
.dazvolcard {
  width: 45%;
  background-color: var(--blue);
  padding: 75px 60px;
  border-radius: 100px 0;
}
.textelement {
  display: flex;
  gap: 10px;
  color: var(--white);
  margin-bottom: 10px;
}
.textelement h1,
.dazvol__header h1 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dazvol__header {
  display: flex;
  gap: 100px;
  margin-bottom: 10px;
}
.dazvol__header select {
  padding: 5px 9px;
  border-radius: 12px;
  font-size: 18px;
}
.moshinalar , .login {
  width: 100%;
  padding: 90px 85px;
  background-color: #f5f6f8;
}
.tir {
  width: 100%;
  background-color: #f5f6f8;
  padding: 0 35px;
}
.moshinalar__header {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 100px;
}
.moshinalar__header input {
  padding: 17px 30px;
  background-color: #85a8f8;
  border: none;
  border-radius: 25px;
  width: 600px;
  color: var(--white);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.5px;
  outline: none;
}
.moshinalar__header input::placeholder {
  color: var(--white);
}
.moshinalar__header select {
  background-color: #54a6ff;
  border-radius: 25px;
  color: var(--white);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.5px;
  outline: none;
  border: none;
  padding: 8px 12px;
}
.moshinalar__header a button {
  width: 51px;
  height: 55px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 25px;
  padding: 3px 5px;
  border: none;
  border-radius: 10px;
}
.clear {
  clear: both;
}
.moshinalar__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.moshinalar__card {
  background-color: var(--blue);
  width: 49%;
  padding: 25px;
  border-radius: 30px;
  margin-bottom: 50px;
}
.moshina__header img {
  width: 220px;
}
.moshina__header {
  display: flex;
  gap: 20px;
}
.header__text {
  display: flex;
  gap: 3px;
  margin-bottom: px;
}
.header__text h3 {
  color: #00ffe0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.moshina__text h1 {
  color: #f6f7f9;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.5px;
}
.moshina__doc {
  width: 45%;
  background-color: var(--white);
  margin-top: 18px;
  padding: 20px;
  border-radius: 20px;
}
.doc__contener {
  display: flex;
  justify-content: space-between;
}
.tir__contener {
  width: 100%;
  background-color: #44c1f6;
  padding: 50px 20px;
  border-radius: 35px;
}
.tir__header {
  display: flex;
  gap: 50px;
  padding: 90px 50px;
  align-items: center;
}
.tir__header input {
  border-radius: 30px;
  background: #44c1f6;
  height: 58px;
  width: 30%;
  border: none;
  padding: 2px 20px;
  color: #132052;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}
.tir__header input::placeholder {
  color: #132052;
}
.tir__header select {
  width: 10%;
  height: 52px;
  border-radius: 10px;
  background: #416cea;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
}
.tir__header a button {
  width: 50px;
  height: 52px;
  font-size: 24px;
  color: var(--white);
  border: none;
  font-weight: 800;
  border-radius: 5px;
  background: #416cea;
}
.doc__texttir {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.doc__cardtir button {
  width: 112px;
  padding: 4px 27px 7px 26px;
  border-radius: 20px 0px;
  background: #0135d0;
  border: none;
  color: white;
}
.doc__cardtir .tirnomi h3 , .doc__cardtir .tirolingansana h3, .doc__cardtir .tirberilishikksana h3 , .doc__cardtir .tirberilgansana h3 , .doc__cardtir .tirqaytgansa h3 , .doc__cardtir .tirberilganmashina h3
{
  color: black;
}
.doc__cardtir .tirholati {
  padding: 6px 5px;
}
.doc__cardtir .tirholati h3 , .font-black .dazvolholati h3 {
  background-color: #24ff01;
}
.tircontener__header,
.doc__cardtir {
  display: flex;
}
.tircontener__header div {
  border-right: 1px solid black;
  padding: 7px 0;
}
.tircontener__header .tirnomi,
.dazvolbody__header .dazvolnomi {
  width: 13%;
  text-align: center;
  border-bottom: 1px solid black;
}
.tircontener__header .tirholati {
  width: 10%;
  text-align: center;
  border-bottom: 1px solid black;
}
.tircontener__header .tirolingansana,
.tircontener__header .tirberilishikksana,
.tircontener__header .tirberilgansana,
.tircontener__header .tirqaytgansa {
  width: 11%;
  text-align: center;
  border-bottom: 1px solid black;
}
.tircontener__header .tirberilganmashina,
.tircontener__header .ozgartirish {
  width: 14.5%;
  text-align: center;
  border-bottom: 1px solid black;
}
.tircontener__header div h3,
.dazvolbody__header div h3 {
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.font-black div h3
{
  color: black;
}
.dazvolbody__header
{
  display: flex;
}
.dazvolbody__header div {
  border-right: 1px solid black;
  padding: 7px 0;
}
.dazvolbody__header .dazvolholati,
.dazvolbody__header .dazvololingansana,
.dazvolbody__header .dazvolberilishkksana,
.dazvolbody__header .dazvolberilgansana,
.dazvolbody__header .dazvolqaytgansana
{
  width: 11%;
  text-align: center;
  border-bottom: 1px solid black;
}
.dazvolbody__header .dazvolberilganmashina,
.dazvolbody__header .dazvolozgarish
{
  width: 12%;
  text-align: center;
  border-bottom: 1px solid black;
}
.dazvolbody__header .dazvodavlati
{
  width: 8%;
  text-align: center;
  border-bottom: 1px solid black;
}
.moshinaqoshish {
  width: 100%;
  padding: 90px 85px;
  background-color: #f5f6f8;
}
.moshinaqoshish form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.inputfile {
  width: 600px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  border-radius: 20px;
}
.inputfile + label {
  font-size: 25px;
  font-weight: 700;
  padding: 50px 100px;
  color: white;
  background-color: var(--blue);
  display: inline-block;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.moshinaqoshish form input {
  width: 470px;
  height: 65px;
  background-color: #54a6ff;
  color: black;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.5px;
  padding: 0 20px;
}
.moshinaqoshish form input::placeholder {
  color: var(--white);
}
.tirqoshish {
  width: 100%;
  padding: 90px 85px;
  background-color: #f5f6f8;
  display: flex;
  justify-content: center;
}
.tirqoshish__card {
  width: 888px;
  background-color: var(--blue);
  border-radius: 100px 0;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.savol {
  display: flex;
  gap: 20px;
}
.savol label {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 45px */
  letter-spacing: -0.6px;
}
.savol input,
.savol select {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  background: #44c1f6;
  border: none;
  outline: none;
  outline: none;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.5px;
  padding: 0 20px;
}
.tirqoshish__card button {
  width: 400px;
  height: 65px;
  border-radius: 20px;
  border: none;
  font-size: 25px;
  font-weight: 700;
  background-color: #72caf0;
}
.tirqoshish__card button:hover {
  background: #44c1f6;
}
.login
{
  display: flex;
  justify-content: center;
}
.login form
{
  width: 50%;
  background-color: #54A6FF;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 30px 50px;
  border-radius: 50px;
} 
.login form input
{
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 10px;
}
.login form button
{
  display: flex;
  width: 139px;
  height: 58px;
  padding: 17px 29px 18px 29px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background: #0135D0;
  border: none;
  color: #FFF;
  font-family: Krub;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: -0.6px;      
}